/* Animación */
@keyframes fadeSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(50px) scale(1.25);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.logo-anim {
  animation: fadeSlideLeft 1s ease-out;
}