@use "../utils/variables";

@mixin card-style($bg, $shadow-color) {
   background-color: $bg;
   box-shadow: 0px 1px 2px $shadow-color;
}

@mixin form($bg, $border-color, $shadow-color, $border-radius, $height, $font-size) {
   background-color: $bg;
   border: 1px solid $border-color;
   box-shadow: 0px 1px 2px $shadow-color;
   border-radius: $border-radius;
   width: 100%;
   height: $height;
   font-size: $font-size;
   font-family: variables.$font-family-main;   
}