@use "../utils/variables";
@use "../utils/mixins";


/* Formulario de contacto */
.form {
   max-width: 500px;
   label {
      font-size: 20px;
      color: variables.$text-color;
   }
   input {
      @include mixins.form(#ffffff, #e0e0e0, rgba(0, 0, 0, 0.05), 8px, 50px, 18px);
   }
}

.formContainer {
   background-color: variables.$welcome-color;
   h3 {
      font-size: 32px;
      font-weight: variables.$font-weight-principal;
      color: variables.$text-color;
   }
}

textarea {
   @include mixins.form(#f9f9f9, #cccccc, rgba(0, 0, 0, 0.1), 12px, 150px, 16px);
}