@use "../utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
   font-family: variables.$font-family-main;
   line-height: 1.6;
   background-color: variables.$primary-color;
   color: #333;
}