@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Configuración general */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "raleway", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

/* Menú de navegación */
header {
  background-color: #fff9e6;
  color: #4b2e2e;
}

header img {
  height: 100px;
}

.navLinks li a {
  text-decoration: none;
  font-weight: bold;
  color: #4b2e2e;
  font-size: 26px;
  font-family: "raleway", sans-serif;
}
.navLinks li a:hover {
  color: #298294;
  background-color: #fff9e6;
}

.dropdown ul {
  display: none;
  position: absolute;
  background-color: #fff9e6;
  list-style: none;
  z-index: 1000;
}
.dropdown ul li a {
  text-decoration: none;
  color: #4b2e2e;
  display: block;
}

/* Sección de bienvenida */
.welcome {
  background-color: rgba(255, 228, 196, 0.6);
}
.welcome h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #4b2e2e;
  width: 100%;
}
.welcome img {
  width: 100%;
  max-width: 675px;
  border-radius: 4px;
}
.welcome figcaption {
  font-size: 10px;
  font-weight: bolder;
  color: rgba(75, 46, 46, 0.5);
}
.welcome figcaption a {
  color: rgba(75, 46, 46, 0.5);
}
.welcome p {
  font-size: 20px;
  color: #4b2e2e;
  font-family: "raleway", sans-serif;
}

/* Subnavegación */
.subNav {
  overflow: hidden;
}
.subNav div {
  height: 500px;
  border: none;
  border-radius: 0px;
}
.subNav div img {
  border-radius: 0px;
}
.subNav img {
  width: 100%;
  opacity: 0.375;
}
.subNav figcaption {
  font-size: 10px;
  font-weight: bolder;
  color: rgba(75, 46, 46, 0.5);
}
.subNav figcaption a {
  color: rgba(75, 46, 46, 0.5);
}
.subNav h3, .subNav p {
  color: #4b2e2e;
}
.subNav p {
  font-size: 1.25rem;
}

.btn.custom-btn {
  background-color: #ffb343;
  color: #4b2e2e;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 1.5rem;
  font-weight: lighter;
}

.submit {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #4b2e2e;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  cursor: pointer;
  font-family: "raleway", sans-serif;
}

.btn.custom-btn:hover {
  background-color: #ffc46d;
  text-decoration: underline;
  color: #4b2e2e;
  font-weight: normal;
}

/* Sección de reviews */
.reviews {
  background-color: rgba(255, 228, 196, 0.6);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.review {
  border-radius: 12px;
}
.review .card-text {
  font-size: 18px;
  font-weight: 600;
  font-family: "raleway", sans-serif;
  color: #4b2e2e;
}
.review .icon {
  font-size: 50px;
  color: #6c757d;
}
.review p:last-of-type {
  font-size: 16px;
  font-family: "raleway", sans-serif;
  color: #4b2e2e;
}

/* Footer */
footer {
  background-color: #fff9e6;
  color: #4b2e2e;
}
footer img {
  height: 100px;
}
footer .logosSociales img {
  height: 40px;
}
footer p {
  color: rgba(75, 46, 46, 0.5);
}
footer a {
  color: #ffb703;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* Desayunos, almuerzos y cenas */
/* Welcome recetas */
.recetasDesayunos {
  background-color: #fff8dc;
}

.recetasAlmuerzos {
  background-color: #e6f4e6;
}

.recetasCenas {
  background-color: #e3f2fd;
}

.welcomeRecetas {
  height: 50vh;
}
.welcomeRecetas h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #4b2e2e;
  width: 45%;
}

.divider {
  border-bottom: 5px solid #4b2e2e;
}

/* Estilo de recetas */
.recipeCaption {
  font-weight: bolder;
  color: #fff8dc;
  font-size: 0.8rem;
}
.recipeCaption a {
  color: #fff8dc;
}

.recipeTitle {
  font-size: 48px;
  font-family: "raleway", sans-serif;
  color: #4b2e2e;
  font-weight: bolder;
}

.procedure {
  font-family: "raleway", sans-serif;
  color: #4b2e2e;
}

/* Formulario de contacto */
.form {
  max-width: 500px;
}
.form label {
  font-size: 20px;
  color: #4b2e2e;
}
.form input {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-family: "raleway", sans-serif;
}

.formContainer {
  background-color: rgba(255, 228, 196, 0.6);
}
.formContainer h3 {
  font-size: 32px;
  font-weight: bold;
  color: #4b2e2e;
}

textarea {
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  height: 150px;
  font-size: 16px;
  font-family: "raleway", sans-serif;
}

/* Media queries */
@media (max-width: 991px) {
  .welcome h1 {
    font-size: 2.5rem;
  }
  .subNav div {
    height: 375px;
  }
  .subNav img {
    height: 100%;
  }
  .subNav h3 {
    font-size: 2.15rem;
    font-weight: bold;
  }
  .subNav p {
    font-size: 1.15rem;
  }
  .welcomeRecetas h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .welcome h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .subNav div {
    height: auto;
  }
  .welcomeRecetas h1 {
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  header img {
    height: 50px;
  }
  footer img {
    height: 50px;
  }
  .welcomeRecetas h1 {
    font-size: 1.5rem;
  }
}
/* Animación */
@keyframes fadeSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(50px) scale(1.25);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
.logo-anim {
  animation: fadeSlideLeft 1s ease-out;
}

/*# sourceMappingURL=styles.css.map */
